@media all and (max-width: 768px){
    .menu{
        &-content{
            li{
                a{
                    &:hover{
                        background-color: lighten($menu-itm-color,20%);
                        color: $color-black;
                    }
                    display: block;
                    width: 100%;
                }
                display: block;
            }
            padding:0;
        }
        &-full{
            &.show{
                display: block !important;
            }
            background-color: $color-black;
            border-bottom: 1px solid lighten($color-black,10%);
            display: none;   
            left:0;
            opacity: 0.8;
            position: absolute;
            top: 63px;
            width: 100%;
        }
        &-min{
            display: inline-block;
        }
    }
    .xs-sm-hidden{
        display: none;
    }
}
@media all and (min-width: 0px){
    @include create-grid("xs-col",$grid-base,12);
}
@media all and (min-width: 576px){
    @include create-grid("sm-col",$grid-base,12);
}
@media all and (min-width: 768px){
    @include create-grid("md-col",$grid-base,12);
}
@media all and (min-width: 992px){
    @include create-grid("lg-col",$grid-base,12);
}
@media all and (min-width: 1200px){
    @include create-grid("xl-col",$grid-base,12);
}