$color-black: #000;
$color-black-red: rgb(9,3,2);
$color-white: #fff;
$font-description-size: 16px;
$font-menu: 'Anton', sans-serif;
$font-f1: 'Finger Paint';
$font-f2: $font-f1;
$font-f3: NexaRustBlack;
$font-menu-spacing: 1px;
$grid-base: 8.3333%;
$line-height: 1.2em;
$logo-height: 50px;
$logo-padding: 3px;
$logo-width: 110px;
$icon-color: #fff;
$icon-size: 30px;
$icon-x-margin: 10px;
$idx-bg-1: "../img/idx-bg-1.jpg";
$map-height: 300px;
$margin-base: 10px;
$menu-button-margin: 3px;
$menu-button-padding: 3px;
$menu-content-padding: 14px 20px;
$menu-itm-color: #fff;
$menu-itm-font-size: 16px;
$menu-itm-padding: 10px 12px;
$navbar-height: 60px;
$opacity-base: 0.1;
$padding-base: 10px;
$section-spacer-bg: "../img/spacer-bg.jpg";
$section-spacer-height: 60px;
$shadow: 1px 1px 3px #333;
$switcher-nav-opacity: 0.5;